@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap');

$black: #121212;
$grey: #2d2d2d;
$violet: #9146FF;
$white: #FCFCFC;
$red: #e64c3c;
$green: #2ecc71;
$height: 89.857142857vh;

*{
  font-family: Montserrat !important;
  color: $white;
}

.section{
  min-height: $height !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $black !important;
}

#footer{
  height: 3vh;
  background-color: $violet;
  color: $white;
}

h1, h2, h3, h4, h5, h6{
  font-family: Ubuntu !important;
  font-weight: 600;
  text-transform: uppercase;
}

span{
  font-weight: bold !important;
}
