@import "main.scss";

.navbar{
  background-color: $black;
  border-bottom: 2px solid $violet;

  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(145, 70, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }

  .animated-nav-link{
    color: $white;
    font-size: 1.3em;
    transition: .3s;
    font-weight: 400;

    &::after{
      content: '';
      display: block;
      width: 0;
      height: 2px;
      border-radius: 20px;
      background: $violet;
      transition: width .3s;
    }

    &:hover::after{
      width: 100%;
    }
  }

  .nav-link{
    color: $white;
    font-size: 1.3em;
    transition: .3s;
    font-weight: 400;
  }

  .dropdown-menu{
    transition: .3s;
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
