@import "main.scss";

#landing, #work, #dashboard, #login, #contact{
  @extend .section;
}

.landing{
  background-image: url("../img/stars.png");
  height: $height;
  .landing-logo{
    width: 150px;
  }
}

.infosAbout{
  min-height: 70vh;
  height: auto;
  margin-bottom: 2vh;
}

.ideasPanel{
  border: 1px solid $violet;
  border-radius: 8px;
  height: 20vh;
  overflow: auto;
}

.bordered{
  border: 2px solid $violet;
  border-radius: 8px;
}

.repo-card{
  border: 2px solid $violet;
  border-radius: 8px;
  width: 18rem !important;
  height: 40vh !important;

  .repo-header{
    height: 10%;
    border-bottom: 1px solid $white;
  }

  .repo-body{
    height: 60%;
    overflow: auto;
  }

  .repo-lang{
    height: 10%;
  }

  .repo-update{
    height: 10%;
    border-bottom: 1px solid $white;
  }

  .repo-footer{
    height: 10%;
  }

  .nav-link:hover{
    text-decoration: underline;
  }
}

.required::after{
  content: " *";
  color: red;
}

.querry{
  border-bottom: 2px solid $violet;

  .ok{
    color: green;
  }

  .notok{
    color: red;
  }
}

#footer{
  height: 3vh;
  background-color: $violet;
  color: $white;
}

@media screen and (max-width:992px) {
  .landing{
    height: 88vh !important;
    .landing-logo{
      width: 90px !important;
    }
  }

  h1{
    font-size: 180% !important;
  }
  h2{
    font-size: 170% !important;
  }
  h3{
    font-size: 160% !important;
  }
}
