@import '../variables.scss';
@import 'devdeasDescription.scss';

.ideaCard{
  width: 18rem !important;
  height: 40vh;
}

.ideaContainer{
  overflow-x: scroll;
}

.badge-primary{
  background-color: $secondaryColor !important;
}

.cardTextBody{
  margin-top: 1vh;
  height: 20vh;
  overflow: auto;
}

.cardBadges{
  max-height: 7vh;
  overflow: auto;
}
