@import '../variables.scss';
@import 'devdeasDescription.scss';


.devdeasTitle{
  padding: 0;
  margin: 0;
  color: $secondaryColor;
  text-transform: uppercase;
  font-weight: bold;

  span{
    color: black;
  }
}

small{
  color: $secondaryColor !important;
  font-weight: bold;
}

@media screen and (max-width:992px) {
  #usersShare{

  }
}
