@import "../variables.scss";

#showcase{

  .devdeasMainTitle{
    padding: 0;
    margin: 0;
    color: $secondaryColor;
    font-size: 4em;

    span{
      color: black;
    }
    .beta{
      font-size: 25%;
    }
  }

  .devdeasMainSubtitle{
    color: $secondaryColor;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .bordered{
    border: 3px solid $secondaryColor;
    border-radius: 20px;
  }

  .what{
    .devdeasTitle{
      padding: 0;
      margin: 0;
      color: $secondaryColor;

      span{
        color: black;
      }
    }

    .startButton{
      background-color: #fff;
      border-radius: 20px;
      color: $black;
      height: 30px;
      border: 2px solid $secondaryColor;
    }
  }

  .how{
    .stepCard{
      height: 100px;
      background-color: $secondaryColor;
      border-radius: 20px;
    }
  }

  .round{
    border: 2px solid $white;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    h3{
      padding: 0;
      margin: 0;
      color: $white;
    }
  }

  .stepText{
    p{
      padding: 0;
      margin: 0;
      color: $white;
    }
  }
}

@media screen and(max-width:992px) {
  .devdeasMainTitle{
    font-size: 3em !important;
  }
}
