@import '../variables.scss';
@import 'showcase.scss';

#usersShare{
  .devdeasSectionTitle{
    padding: 0;
    margin: 0;
    color: $secondaryColor;
    font-size: 3em;
    span{
      color: black;
    }
  }

  .usersMb{
    margin-bottom: 15vh;
  }

  .formCreateContainer{
    border: 3px solid $secondaryColor;
    border-radius: 20px;
    padding: 20px;
  }

  .ideaListContainer{
    margin-bottom: 15vh;
  }
  .ideaCard{
    width: 18rem;
  }

}

@media screen and (max-width:992px) {
  #usersShare{

  }
}
