@import '../variables.scss';
@import 'showcase.scss';

#usersShare{
  .devdeasSectionTitle{
    padding: 0;
    margin: 0;
    color: $secondaryColor;
    font-size: 3em;
    span{
      color: black;
    }
  }

  .actionButton{
    width: 25vh;
    height: 25vh;
    border: 1px solid rgba(#000, 0.2);
    border-radius: 50px;
    transition: .3s;

    &:hover{
      box-shadow: -1px 0 rgba(#000, 0.2), 0 1px rgba(#000, 0.2), 1px 0 rgba(#000, 0.2), 0 -1px rgba(#000, 0.2);
    }
  }

  .usersMb{
    margin-bottom: 15vh;
  }

}

@media screen and (max-width:992px) {
  #usersShare{

  }
}
