@import "../variables.scss";

#login{
  padding-top: 20vh;
  height: 94vh;
  background-image: url("../../img/blog/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: content-box;

  span{
    color: $secondaryColor;
  }
  .btn-success{
    background-color: $secondaryColor !important;
    border: none !important;

    &:focus{
      border: none !important;
    }
  }
}
