@import "../variables.scss";

#blog{
  height: 92vh;
  margin-top: 3vh;
  overflow: auto;

  .blogSeparator{
    height: 5px !important;
    background-color: $secondaryColor;
  }

  .card-img{
    height: 10vh;
    width: 10vh;
  }
}
