@import "variables.scss";
@import "./blog/blog.scss";

#contact{
  height: 92vh;
  padding-top: 3vh;

  .required::after{
    content: " *";
    color: red;
  }

  .negativeTitle{
    margin-left: -2.5vw !important;
  }

  .querry{
    border-bottom: 2px solid $secondaryColor;

    .ok{
      color: green;
    }

    .notok{
      color: red;
    }
  }
}

@media screen and (max-width:992px) {
  #contact{
    overflow: auto;
    .contactT{
      font-size: 3em !important;
    }
  }
}
