@import "variables.scss";
@import "tech.scss";


#meBody{
  margin-top: 10vh;
  padding: 1em;
  height: auto;

  // background: $white;
  // background: linear-gradient(60deg, rgba(0,0,0,0) 50%, $secondaryColor 50%, $secondaryColor 100%);

  .aboutMe{
    padding: 1rem;
    border: 5px solid $secondaryColor;
  }

  .keyData{
    padding: 1rem;
    border: 5px solid $secondaryColor;
    background-color: $secondaryColor;

    .aboutDataContainer{
      height: 70%;
    }
  }
}
