@import "variables.scss";


.techContentBody{
  height: auto;
  margin-top: 3vh;

  .techTitleContainer{
    span{
      font-size: 1.5em;
    }
  }
}

.cardContainer{
  .cardImage{
    max-height: 10vh;
  }
  .cardTitle{
    font-size: 1.2em;
    font-weight: 600;
  }
}
