@import "variables.scss";


.techContentBody{
  height: 30vh;
  background-color: $white;

  .techImage{
    height: 10vh;
    width: 10vh;
  }

  .techTitleContainer{
    span{
      font-size: 1.5em;
    }
  }
}
