@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

$backgroudColor: #121212;
$secondaryColor: #9146FF;
$lightWhite: rgba(#fcfcfc, .6);
$white: #FCFCFC;
$black: #000000;

*{
  font-family: Montserrat !important;
}

h1, h2, h3, h4, h5, h6, span{
  font-family: Ubuntu !important;
  font-weight: 600;
  text-transform: uppercase;
}

p{
  font-size: 1.2em;
}

.sectionTitlePurple{
  color: $backgroudColor;
  text-shadow: 3px 2px 0px $secondaryColor;
  letter-spacing: 4px;
  font-size: 3.2em;
}

.littleSectionTitlePurple{
  color: $backgroudColor;
  text-shadow: 3px 2px 0px $secondaryColor;
  letter-spacing: 4px;
  font-size: 1.5em;
}

.littleSectionTitleWhite{
  color: $backgroudColor;
  text-shadow: 3px 2px 0px $white;
  letter-spacing: 4px;
  font-size: 1.5em;
}

.sectionTitlePurpleWithBorder{
  color: $backgroudColor;
  text-shadow: 3px 2px 0px $secondaryColor;
  letter-spacing: 4px;
  font-size: 3.2em;
  margin-left: 2.5vw !important;

  &::before{
    display: block;
    position: relative;
    content: '';
    background-color: $secondaryColor;
    width: 50%;
    height: 5px;
    border-radius: 100px;;
  }
}

.blogTitlePurpleWithBorder{
  color: $backgroudColor;
  text-shadow: 3px 2px 0px $secondaryColor;
  letter-spacing: 4px;
  font-size: 2.2em;
  margin-left: 2.5vw !important;

  &::before{
    display: block;
    position: relative;
    content: '';
    background-color: $secondaryColor;
    width: 50%;
    height: 5px;
    border-radius: 100px;;
  }
}


.cardTitleSlash{
  font-size: 1.5em;
  text-shadow: 5px 5px 0px $secondaryColor;
}
