@import "variables.scss";

#work{
  margin-top: 3vh;
  margin-bottom: 3vh;

  .repoContainer{
    max-height: 72vh !important;
    overflow: auto;
  }

  .card-img-top{
    max-width: 10vh !important;
    max-height: 10vh !important;
  }

  .card-title{
    border-bottom: 3px solid $secondaryColor;
  }

  .list-group-item{
    border-color: $secondaryColor !important;
  }

  .btn{
    background-color: $secondaryColor !important;
  }
  .card{
    max-width: 300px !important;
    min-width: 300px !important;
  }

  .cardLimited{
    max-height: 75vh !important;
  }

  .sticky-top{
    top: 3vh !important;
  }

  .cardUser{
    .userImgCard{
      max-height: 100%;
      max-width: 100%;
    }
  }
}

@media screen and(max-width:992px) {
  .cardLimited{
    overflow: auto;
  }
}
