@import "variables.scss";

#work{
  margin-top: 3vh;
  margin-bottom: 3vh;

  .repoContainer{
    max-height: 72vh !important;
    overflow: auto;
  }

  .card-img-top{
    max-width: 10vh !important;
    max-height: 10vh !important;
  }

  .card-title{
    border-bottom: 3px solid $secondaryColor;
  }

  .list-group-item{
    border-color: $secondaryColor !important;
  }

  .btn{
    background-color: $secondaryColor !important;
  }
}
